<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<!-- Define main product -->
	<Product 
		Id="19B2244A-D769-46A8-A91D-15F5289E5585" 
		Name="Revit BundleBuilder Installer" 
		Language="1033" 
		Version="1.0.0.0" 
		Manufacturer="RedBuilt LLC" 
		UpgradeCode="1adb88d8-6b58-48d3-a6f4-173636afd281">

		<!-- Provide package details -->
		<Package 
			InstallerVersion="200" 
			Compressed="yes" 
			InstallScope="perMachine" 
			/>

		<!-- Downgrade error message -->
		<MajorUpgrade
			DowngradeErrorMessage="A newer version of BundleBuilder is already installed." 
			/>

		<!--<InstallExecuteSequence>
			<RemoveExistingProducts Before="InstallInitialize" />
		</InstallExecuteSequence>-->
		
		<!-- Include .cab file into .msi file -->
		<MediaTemplate 
			EmbedCab="yes" 
			/>

		<!-- Define components -->
		<Feature 
			Id="ProductFeature" 
			Title="BundleBuilder" 
			Level="1">
			<ComponentGroupRef Id="DllGroup" />
			<ComponentGroupRef Id="AddinGroup" />
			<ComponentGroupRef Id="Resources"/>
		</Feature>
		
	</Product>
</Wix>
